<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/scripts/jquery-3.4.1.js")
    @Scripts.Render("~/scripts/main.js")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
